*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Quattrocento Sans', sans-serif;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

/* Reusable elements */
.container {
    width: 1200px;
    height: max-content;
    margin: 0 auto;
}
section {
    padding: 60px 0;
}

.row {
    margin-bottom: 30px;
}

.section-heading {
    letter-spacing: 1px;
    color: #555;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.section-heading::after {
    display: block;
    content: '';
    height: 2px;
    width: 100px;
    background-color: #fa4659;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

.section-subheading {
    letter-spacing: 1px;
    font-size: 20px;
    color: #555;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

h3 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #555;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Header */
#header {
    height: 100vh;
    background-color: gray;
    background-image: linear-gradient(rgba(26, 10, 10, 0.7), rgba(0, 0, 0, 0.7)),
        url(/images/hero.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#header__top {
    line-height: 60px;
}

.header__logo {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: inline-block;
    width: 120px;
    line-height: 100%;
    vertical-align: middle;
}

/* Header Navigation */
.header__navigation {
    list-style-type: none;
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 120px);
    line-height: 100%;
    text-align: right;
    vertical-align: middle;
}

.header__navigation li {
    display: inline-block;
}

.header__navigation li:not(:last-child) {
    margin-right: 25px;
}

.header__navigation li:hover::after,
.header__navigation li::after {
    content: '';
    display: block;
    height: 1px;
    position: relative;
    top: 10px;
}

.header__navigation li:hover::after {
    width: 100%;
    background-color: #fa4659;
}

.header__navigation li::after {
    width: 0%;
    background-color: transparent;

    transition: all 0.5s;
}

.header__navigation a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

/* Header CTA */

.header__cta h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header__cta h1 span {
    color: #fa4659;
}

.header__cta div {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.header__cta {
    position: relative;
    top: 30%;
}

.button-hero {
    font-size: 25px;
    text-decoration: none;
    color: #fa4659;
    border: 1px solid #fa4659;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;

    transition: color 1s, background-color 1s;
}

.button-hero:hover {
    color: #fff;
    background-color: #fa4659;
}

/* Section - Difference */

.difference-section__item {
    display: inline-block;
    width: 50%;
    margin-left: -4px;
    padding-right: 30px;
    vertical-align: top;
}

.difference-section__item p {
    color: #555;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
}

.fas.fa-exclamation-circle,
.fas.fa-terminal,
.fas.fa-exchange-alt,
.far.fa-lightbulb {
    color: #fa4659;
    font-size: 40px;
    margin-bottom: 20px;
}

/* Section - A Typical Day */

#typical-day-section {
    background-color: #555;
}

#typical-day-section .section-heading,
#typical-day-section .section-subheading {
    color: #fff;
}

.schedule {
    display: inline-block;
    width: 50%;
}

.schedule:first-child {
    border-right: 1px solid #fff;
}

.schedule:nth-child(2) {
    margin-left: -4px;
}

#typical-day-section .row {
    border-bottom: 1px solid #fff;
}

.time {
    color: #fa4659;
    font-size: 35px;
}

.time sup {
    font-size: 18px;
    font-weight: 700;
}

.evening-schedule {
    width: max-content;
    margin: 0 auto;
}

.schedule ul {
    list-style-type: none;
    padding: 0 30px;
}

.schedule ul li {
    margin-bottom: 20px;
}
.schedule ul li span {
    display: inline-block;
    vertical-align: top;
}

.schedule ul li span:first-child {
    width: 80px;
}

.schedule ul li span:nth-child(2) {
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    margin-left: -4px;

    width: calc(100% - 80px);
}

/* Curriculum Section */

.curriculum-section__text,
.curriculum-section__image-wrapper {
    display: inline-block;
}

.curriculum-section__text {
    width: 40%;
}

.curriculum-section__image-wrapper {
    width: 60%;
    margin-left: -4px;
}

#curriculum-section__image {
    width: 100%;
    transform: scale(0.8);
    /* transition: all 1.3s; */
    animation: animateIcons 5s infinite;
}

/* #curriculum-section__image:hover {
    opacity: 1;
    transform: scale(1);
} */

.curriculum-section__weeks {
    display: inline-block;
    width: 50%;
}

.curriculum-section__text {
    vertical-align: top;
}

.curriculum-section__weeks:nth-child(2) {
    margin-left: -4px;
}

.curriculum-section__weeks h4 {
    font-size: 20px;
    color: #fa4659;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.curriculum-section__week {
    list-style-type: none;
    border-left: 2px solid #fa4659;
    padding-left: 15px;
}

.curriculum-section__week li {
    font-size: 15px;
    color: #555;
    line-height: 22px;
}

@keyframes animateIcons {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
    }
}

/* Admissions Section */

#admissions {
    background-color: #ebf7ff;
}

#admissions .row {
    margin-bottom: 50px;
}

.admissions__step {
    width: 25%;
    padding: 0 15px;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    /* float: left; */
}

.admissions__step i {
    color: #3498db;
    font-size: 40px;
    margin-bottom: 20px;
}

.admissions__step p {
    color: #555;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
}

.admissions__button {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #3498db;
    transition: all 1s;

    width: max-content;
    display: block;
    margin: 0 auto;
}

.admissions__button:hover {
    background-color: #2980b9;
}

/* Footer */

.footer {
    background-color: #41474d;
    padding: 40px 0;
}

.footer__logo,
.footer__email,
.footer__socials {
    display: inline-block;
    width: calc(100% / 3);
    vertical-align: middle;
    margin-right: -4px;
}

.footer__logo span {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.footer__email a,
.footer__socials i {
    font-size: 18px;
    color: #a0a3a6;
    cursor: pointer;
}

.footer__socials i {
    margin-right: 5px;
}

.footer__email a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.footer__email a:hover,
.footer__socials i:hover {
    color: #fff;
}

.footer__social-icons {
    width: max-content;
    margin: 0 auto;
}
